@model IEnumerable<SteveDelezioSEAssignment2Sit1.Models.tbl_StateWorkflows>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorflowPositionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ArticleStates.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Users.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorflowPositionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_ArticleStates.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Users.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StateWorkflow_Id })
        </td>
    </tr>
}

</table>
